[user]
    name = hisk
    email = hisk@xxx.xxx
[color]
    ui = auto
[alias]
    graph = log --graph --oneline --decorate=full --date=relative --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
    grep = grep --color=always
    windiff = difftool -y -d -t WinMerge
    winmerge = mergetool -y -t WinMerge
    svn-ref = "!f() { ret=''; for rev in $@; do ret=${ret}' '`git log --grep "git-svn-id.*@${rev}" --pretty=%H;`; done; echo $ret; }; f"
    log = log --date=local
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "WinMerge"]
    path = C:/tools/WinMerge/WinMergeU.exe
    cmd = \"C:/tools/WinMerge/WinMergeU.exe\" -e -r -u -x -wl -wr -dl \"a/$MERGED\" -dr \"b/$MERGED\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "WinMerge"]
    cmd = \"C:/tools/WinMerge/WinMergeU.exe\" -e -u \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false
[core]
    whitespace = cr-at-eol
    editor = /usr/bin/vim
    pager = less -S