[user]
    name = hisk
    email = hisk@xxx.xxx
[color]
    ui = auto
[alias]
    graph = log --graph --numstat --date=relative --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset %Cgreen(%cr)\"
    grep = grep --color=always
    windiff = difftool -y -d -t WinMerge
    winmerge = mergetool -y -t WinMerge
[diff]
    tool = WinMerge
[difftool]
    prompt = false
[difftool "WinMerge"]
    path = C:/tools/WinMerge/WinMergeU.exe
    cmd = \"C:/tools/WinMerge/WinMergeU.exe\" -e -r -u -x -wl -wr -dl \"a/$MERGED\" -dr \"b/$MERGED\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = false

[merge]
    tool = WinMerge
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "WinMerge"]
    cmd = \"C:/tools/WinMerge/WinMergeU.exe\" -e -u \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false

[core]
    whitespace = cr-at-eol
