[user]
    name = hisk
    email = hisk@xxx.xxx
[color]
    ui = auto
[color "decorate"]
    HEAD = cyan
    branch = green
    tag = blue bold
[diff]
    tool = WinMerge
[difftool]
    prompt = false
[difftool "WinMerge"]
    path = '/mnt/c/tools/WinMerge/WinMergeU.exe'
    cmd = \"/mnt/c/tools/WinMerge/WinMergeU.exe\" -e -r -u -x -wl -wr -dl \"a/$MERGED\" -dr \"b/$MERGED\" \"`echo ${LOCAL%/} | sed -e 's|^\\(/mnt/\\([a-z]\\)\\)\\(.*\\)|\\U\\2:\\E\\3|' -e 's|/|\\\\\\\\|g'`\" \"`echo ${REMOTE%/} | sed -e 's|^\\(/mnt/\\([a-z]\\)\\)\\(.*\\)|\\U\\2:\\E\\3|' -e 's|/|\\\\\\\\|g'`\"
    trustExitCode = false
[merge]
    tool = vimdiff
    # tool = WinMerge
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "WinMerge"]
    path = '/mnt/c/tools/WinMerge/WinMergeU.exe'
    # cmd = \"/mnt/c/tools/WinMerge/WinMergeU.exe\" -e -u \"`echo ${MERGED%/} | sed -e 's|^\\(/mnt/\\([a-z]\\)\\)\\(.*\\)|\\U\\2:\\E\\3|' -e 's|/|\\\\\\\\|g'`\"
    cmd = \"/mnt/c/tools/WinMerge/WinMergeU.exe\" -e -u \"`echo ${LOCAL%/} | sed -e 's|^\\(/mnt/\\([a-z]\\)\\)\\(.*\\)|\\U\\2:\\E\\3|' -e 's|/|\\\\\\\\|g'`\" \"`echo ${MERGED%/} | sed -e 's|^\\(/mnt/\\([a-z]\\)\\)\\(.*\\)|\\U\\2:\\E\\3|' -e 's|/|\\\\\\\\|g'`\" \"`echo ${REMOTE%/} | sed -e 's|^\\(/mnt/\\([a-z]\\)\\)\\(.*\\)|\\U\\2:\\E\\3|' -e 's|/|\\\\\\\\|g'`\"
    # cmd = \"C:/tools/WinMerge/WinMergeU.exe\" -e -u -wl -wr \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
    trustExitCode = false
[alias]
    windiff = difftool -y -d --no-symlinks -t WinMerge
    winmerge = mergetool -y -t WinMerge
    graph = log --graph --decorate=full --date=iso --pretty=format:'%C(red)%h%C(reset) %C(green)[%ad] %C(magenta)<%an>%C(reset) :%C(reset)%C(yellow reverse)%d%C(reset) %s'
    #--date=relative
    #svn-ref = "!f() { ret=''; for rev in $@; do ret=${ret}' '`git log --grep "git-svn-id.*@${rev}" --pretty=%H;`; done; echo $ret; }; f"
    grep = grep --color=auto
[core]
    whitespace = cr-at-eol
	editor = vim
    pager = LESSCHARSET=utf-8 less -S
	autoCRLF = false
	quotepath = false
[push]
	default = simple

[credential]
	helper = /mnt/c/tools/Git/mingw64/libexec/git-core/git-credential-manager.exe
